/* css style for all */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
}

/* css style for index */
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexNav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.8rem 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 300px;
}

.indexNav li {
  list-style: none;
  display: inline-block;
  margin: 1rem;
}

.indexNav a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.content {
  text-align: center;
}

h1 {
  font-size: 110px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 0.2rem solid #fff;
  padding: 1rem 4rem;
  border-radius: 50px;
  margin-top: 20px;
}

.background-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  right: 1;
  bottom: 1;
  z-index: -1;
}

/* css style for Explore  */

.exploreNav {
  position: fixed;
  z-index: 8;
  top: 0;
  left: -100%;
  width: 100%;
  height: 7vh;
  padding: 0rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
  transition: 0.3s;
}

.nav-links {
  transition: 0.7s ease;
}

.nav-links:hover {
  color: dodgerblue;
}

.exploreNav li {
  list-style: none;
  display: inline-block;
  margin: 1rem;
  padding: 0, 24px;
}

.exploreNav a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.explorelogo2 {
  position: fixed;
  top: -11px;
  left: 0;
  width: 300px;
  z-index: 9;
  cursor: pointer;
}

.explorelogo2:hover {
  filter: invert(50%) sepia(55%) saturate(5005%) hue-rotate(194deg)
    brightness(105%) contrast(102%);
  opacity: 70%;
}

.exploreContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
}

.videoBox h2 {
  position: absolute;
  top: 89%;
  left: 1%;
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.videoBox h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.exploreContainer .videoBox:hover {
  filter: grayscale(0);
}

.videoBox {
  position: relative;
  width: 50%;
  height: 50vh;
  border: 3px solid rgb(12, 3, 51, 0.3);
  filter: grayscale(1);
  transition: 1s;
}

.videoBox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  /* Media queries (mobile) for index */

  .container {
    width: 100%;
    height: 100vh;
  }
  .indexNav a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
  }

  .indexNav {
    justify-content: center;
    padding: 0.5rem 1.5rem;
  }
  .logo {
    width: 100px;
    display: none;
  }

  .indexNav li {
    list-style: none;
    display: inline-block;
    margin: 0.3rem;
  }
  .content h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
  }

  .content a {
    font-size: 10px;
    border: 0.2rem solid #fff;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    margin-top: 20px;
  }

  /*  Media queries (mobile) for explore */

  .explorelogo2 {
    width: 15vh;
    top: 1.5vh;
  }

  .exploreNav {
    padding: 0 1rem;
    height: 8vh;
  }

  .nav-list {
    display: flex;
  }

  .exploreNav a {
    font-size: 0.55rem;
  }

  .exploreNav li {
    margin: 0.3rem;
  }

  .videoBox {
    width: 100%;
  }

  .videoBox h2 {
    position: absolute;
    top: 90%;
    left: 1%;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  /* Media queries (in between devices) for index */

  .container {
    width: 100%;
    height: 100vh;
  }

  .indexNav a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
  }

  .indexNav {
    justify-content: center;
    padding: 0.5rem 1.5rem;
  }
  .logo {
    width: 100px;
    display: none;
  }

  .indexNav li {
    list-style: none;
    display: inline-block;
    margin: 0.3rem;
  }

  .content h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
  }

  .content a {
    font-size: 13px;
    border: 0.2rem solid #fff;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    margin-top: 20px;
  }
  /* Media queries (in between devices) for explore */

  .explorelogo2 {
    width: 15vh;
    top: 1.5vh;
  }

  .exploreNav {
    padding: 0 1rem;
    height: 8vh;
  }

  .nav-list {
    display: flex;
  }

  .exploreNav a {
    font-size: 0.8rem;
  }

  .exploreNav li {
    margin: 0.3rem;
  }

  .videoBox {
    width: 100%;
  }

  .videoBox h2 {
    position: absolute;
    top: 94%;
    left: 1%;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
  }
}

@media screen and (min-width: 800px) and (max-width: 1230px) {
  /* Media queries (Tablet) for index */

  .container {
    width: 100%;
    height: 100vh;
  }
  .indexNav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }

  .indexNav {
    justify-content: center;
    padding: 0.5rem 1.5rem;
  }
  .logo {
    width: 100px;
    display: none;
  }

  .indexNav li {
    list-style: none;
    display: inline-block;
    margin: 0.3rem;
  }
  .content h1 {
    font-size: 90px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
  }

  .content a {
    font-size: 15px;
    border: 0.2rem solid #fff;
    padding: 0.8rem 3rem;
    border-radius: 50px;
    margin-top: 20px;
  }

  /* Media queries (Tablet) for explore */
  .explorelogo2 {
    width: 18vh;
    top: 0vh;
  }

  .exploreNav {
    padding: 0 1rem;
    height: 6vh;
  }

  .nav-list {
    display: flex;
  }

  .exploreNav a {
    font-size: 13px;
  }

  .exploreNav li {
    margin: 0.5rem;
  }

  .videoBox {
    width: 100%;
  }

  .videoBox h2 {
    position: absolute;
    top: 93%;
    left: 1%;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
  }
}
