.exploreWrapper {
    display: flex;
    flex-direction: column;
    background-image: url(content/images/exploreBG-optimized.jpg);
    height: 600vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .view1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  
  .h1container {
    height: 50%;
    width: 65vh;
  }
  
  .view1 h1 {
    font-size: 3rem;
  }
  
  .view2 {
    width: 100%;
    height: 100vh;
  }
  
  .view3 {
    width: 100%;
    height: 100vh;
  }
  
  .view4 {
    width: 100%;
    height: 100vh;
  }
  
  .view5 {
    width: 100%;
    height: 100vh;
  }
  
  .view6 {
    width: 100%;
    height: 100vh